@import "@carbon/themes/scss/themes";

$feature-flags: (
  enable-css-custom-properties: true,
);

@import "node_modules/carbon-components/scss/globals/scss/_css--helpers.scss";
@import "node_modules/carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/_mixins.scss";

:root[carbon-theme="white"] {
  @include carbon--theme($carbon--theme--white, true);
}

:root[carbon-theme="g10"] {
  @include carbon--theme($carbon--theme--g10, true);
}

:root[carbon-theme="g90"] {
  @include carbon--theme($carbon--theme--g90, true);
  color-scheme: dark;
}

:root[carbon-theme="g100"] {
  @include carbon--theme($carbon--theme--g100, true);
  color-scheme: dark;
}

$css--font-face: true;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: true;
$css--default-type: true;
$css--plex: true;

@import "node_modules/carbon-components/scss/globals/scss/_css--reset.scss";
@import "node_modules/carbon-components/scss/globals/scss/_css--font-face.scss";
@import "node_modules/carbon-components/scss/globals/scss/_css--helpers.scss";
@import "node_modules/carbon-components/scss/globals/scss/_css--body.scss";
@import "node_modules/carbon-components/scss/globals/grid/_grid.scss";
@import "node_modules/carbon-components/scss/globals/scss/styles.scss";

.Header {
  margin-bottom: 48px;
}
